@import './normalize';


* {
    box-sizing: border-box;
    outline: none !important;

}

.container-inner {
    max-width: 1240px;
    padding: 0px 20px;
    margin: auto;
    height: 100%;
}


.sp-wrapper {
    font-family: Montserrat;
    background-color: #F4EBE5;
}


.header-section {
    background-image: url(../img/main-screen-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #1D1D1B;
}

.header-section__wrapper {
    padding: 150px 0;
    background-image: url(../img/main-image-man.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 90%;
}

.header-section__title {
    color: #1D1D1B;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-section__descr {
    color: #1D1D1B;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.sp-section {
    padding: 120px 0;
    overflow: hidden;
}

.sp-section-title {
    color: #1D1D1B;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.sp-section-text {
    color: #1D1D1B;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.show-more-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #DC6F2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
    margin-top: 40px;

    .show-more-link__text:nth-child(2) {
        display: none;
    }

    &.hide {
        .show-more-ico {
            transform: scaleX(-1);
        }

        .show-more-link__text:nth-child(2) {
            display: block;
        }

        .show-more-link__text:nth-child(1) {
            display: none;
        }
    }
}

.show-more-ico {
    height: 17px;
    width: 72px;
    display: flex;
    align-items: center;
    transition: transform .3s ease-in-out;

    svg {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.infinite-gallery__slide {
    user-select: none;
    pointer-events: none;
    width: fit-content;
    width: 288px;
    height: 390px;
    overflow: hidden;

    img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        object-position: center;
    }
}

.infinite-gallery {
    width: 100%;
    border-bottom: 2px solid #1D1D1B;
    border-top: 2px solid #1D1D1B;

}

._has-border-bottom {
    border-bottom: 2px solid #1D1D1B;

}

.origins-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.origins-item {
    cursor: pointer;
    width: calc(50% - 10px);
    border-radius: 10px;
    overflow: hidden;
    height: clamp(10px, 31.66vw, 380px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.origins-item__content {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 30.77%, rgba(0, 0, 0, 0.00) 100%);
    padding: 30px;
    padding-top: 50px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    align-items: center;
}

.origins-item__arrow {
    flex-shrink: 0;
    width: 74px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='75' height='17' viewBox='0 0 75 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_327_783)'%3e%3cpath d='M2.63504 7.09626H1.22998V9.9064H2.63504V7.09626ZM71.5314 9.9064H72.9364V7.09627H71.5314V9.9064ZM67.0408 1.86526L66.025 0.894531L64.0835 2.92618L65.0994 3.8969L67.0408 1.86526ZM71.9515 8.50133L72.9222 9.51719L73.9853 8.50133L72.9222 7.48551L71.9515 8.50133ZM65.0994 13.1057L64.0835 14.0764L66.025 16.1082L67.0408 15.1374L65.0994 13.1057ZM2.63504 9.9064H71.5314V7.09627L2.63504 7.09626V9.9064ZM65.0994 3.8969L70.9808 9.51719L72.9222 7.48551L67.0408 1.86526L65.0994 3.8969ZM70.9808 7.48551L65.0994 13.1057L67.0408 15.1374L72.9222 9.51719L70.9808 7.48551Z' fill='url(%23paint0_linear_327_783)'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_327_783' x1='72.3716' y1='8.50132' x2='9.77674' y2='8.50132' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_327_783'%3e%3crect width='74' height='16.8608' fill='white' transform='translate(0.761719 0.0703125)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}


.vertical-video-slider {
    padding-top: 80px;
    overflow: visible;
}

.vertical-video-slide {
    outline: none !important;
    width: 240px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        .vertical-video-slide__image {
            color: #DC6F2D;

            &::after {
                opacity: 1;
            }
        }
    }
}

.vertical-video-slide__image {
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    transition: color .3s ease-in-out;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity .3s ease-in-out;

    }
}

.slide-num {
    position: relative;
    z-index: 2;
    transition: color .3s ease-in-out;
}

.vertical-video-slide__descr {
    color: #1D1D1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


.swiper-slider-controls {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .swiper-button-prev,
    .swiper-button-next {
        transition: opacity .3s ease-in-out;
        width: fit-content;
        height: fit-content;
        position: static;
        flex-shrink: 0;
        padding: 16px 20px;
        border-radius: 50px;
        background: rgba(220, 111, 45, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        &::after {
            display: none;
        }
    }

    .swiper-pagination {
        flex-wrap: wrap;
        position: static;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .swiper-pagination-bullet {
        transition: background-color .3s ease-in-out;
        opacity: 1 !important;
        width: 14px;
        height: 14px;
        background-color: rgba(220, 111, 45, 0.10);
        margin: 0 !important;
    }

    .swiper-pagination-bullet-active {
        background-color: #DC6F2D;
    }
}

.fancybox__content {
    max-width: 440px !important;
    width: 100% !important;
    max-height: 800px !important;
    height: 100% !important;
}

.twentytwenty-wrapper,
.images-container {
    height: 100% !important;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.images-content {
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 43.64%, rgba(0, 0, 0, 0.00) 100%);
    padding: 50px 30px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 36px */
}

.before-after-slide {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    height: 0;
    position: relative;
    padding-top: 58.35%;
}

.before-after-slide__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.twentytwenty-handle {
    background-color: #fff;
    box-shadow: none;

}

.twentytwenty-right-arrow {
    border-left: 6px solid #dc6f2d;
}

.twentytwenty-left-arrow {
    border-right: 6px solid #dc6f2d;
}

.twentytwenty-horizontal .twentytwenty-handle::before,
.twentytwenty-horizontal .twentytwenty-handle::after {
    box-shadow: none;
}

.__hidden {
    display: none;
}



._has-lines-bg {
    background-image: url(../img/dynasty-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dynasty {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.origins-modal {
    overscroll-behavior: contain;
    font-family: Montserrat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 27, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 30px;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.origins-modal__content {
    position: relative;
    padding: 80px;
    border-radius: 10px;
    border-bottom: 2px solid #1D1D1B;
    background: #F4E9E3;
    max-width: 1200px;
    width: 100%;
}

.origins-modal__close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='-0.5' y='0.5' width='53' height='53' rx='26.5' transform='matrix(-1 0 0 1 53 0)' stroke='%231D1D1B'/%3e%3cpath d='M22.4573 19.9707L21.4415 19L19.5 21.0317L20.5159 22.0024L22.4573 19.9707ZM27.368 26.6068L28.3387 27.6227L29.4018 26.6068L28.3387 25.591L27.368 26.6068ZM20.5159 31.2112L19.5 32.1819L21.4415 34.2136L22.4573 33.2429L20.5159 31.2112ZM20.5159 22.0024L26.3973 27.6227L28.3387 25.591L22.4573 19.9707L20.5159 22.0024ZM26.3973 25.591L20.5159 31.2112L22.4573 33.2429L28.3387 27.6227L26.3973 25.591Z' fill='url(%23paint0_linear_342_814)'/%3e%3cpath d='M32.0427 19.9707L33.0585 19L35 21.0317L33.9841 22.0024L32.0427 19.9707ZM27.132 26.6068L26.1613 27.6227L25.0982 26.6068L26.1613 25.591L27.132 26.6068ZM33.9841 31.2112L35 32.1819L33.0585 34.2136L32.0427 33.2429L33.9841 31.2112ZM33.9841 22.0024L28.1027 27.6227L26.1613 25.591L32.0427 19.9707L33.9841 22.0024ZM28.1027 25.591L33.9841 31.2112L32.0427 33.2429L26.1613 27.6227L28.1027 25.591Z' fill='url(%23paint1_linear_342_814)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_342_814' x1='27.7881' y1='26.6068' x2='-34.8068' y2='26.6068' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23DC6F2D'/%3e%3cstop offset='1' stop-color='%23DC6F2D' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_342_814' x1='26.7119' y1='26.6068' x2='89.3068' y2='26.6068' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23DC6F2D'/%3e%3cstop offset='1' stop-color='%23DC6F2D' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
}

.origins-modal__title {
    max-width: 885px;
    margin: auto;
    margin-bottom: 40px;
    color: #1D1D1B;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.origins-modal__main-image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.origins-modal__text {
    margin: 80px auto;
    max-width: 885px;
    color: #1D1D1B;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    p {
        margin: 20px 0;
    }

    &._italic {
        font-style: italic;
        margin: 60px auto;
    }
}

.text-title {
    color: #1D1D1B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
}

.origins-modal__slide {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 52.31%;
    border-radius: 10px;
    background: #1D1D1B;
    overflow: hidden;

    .slide-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        img {
            object-fit: contain;
            object-position: center;
            height: 100%;
            width: auto;
        }

    }

    .slide-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px;
        padding-top: 50px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 43.64%, rgba(0, 0, 0, 0.00) 100%);
    }
}


.origins-modal__bottom-close {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #DC6F2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1180px) {
    .header-section__wrapper {
        background-size: auto 65%;
    }
}

@media (max-width: 992px) {
    .header-section__wrapper {
        padding-top: 50px;
    }

    .origins-item__content,
    .images-content {
        padding: 20px;
        padding-top: 30px;
        font-size: 18px;
    }

    .sp-section {
        padding: 80px 0;
    }

    .origins-modal__content {
        padding: 40px;
    }

    .origins-modal__close {
        width: 40px;
        height: 40px;
    }

    .origins-modal__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .origins-modal__text._italic {
        margin: 40px 0;
    }

    .origins-modal__text {
        margin: 50px 0;
    }

    .origins-modal__text {
        font-size: 18px;
    }

    .origins-modal__slide .slide-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .origins-modal__slide .slide-text {
        font-size: 16px;
    }

    .header-section__title {
        font-size: 48px;
    }

    .header-section__wrapper {
        padding-bottom: 65vw;
        background-size: contain;
    }

    .origins-item {
        width: 100%;
        height: 60vw;
    }
}

@media (max-width: 576px) {
    .sp-section-title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .sp-section-text {
        font-size: 18px;
    }

    .sp-section {
        padding: 40px 0;
    }

    .images-content {
        font-size: 12px;
    }

    .header-section__title {
        font-size: 38px;
    }

    .infinite-gallery__slide {
        width: 100%;
        height: 120vw;
    }

    .swiper-slider-controls .swiper-button-prev,
    .swiper-slider-controls .swiper-button-next {
        padding: 10px;
    }

    .origins-modal,
    .origins-modal__content {
        padding: 20px;
    }

    .origins-modal__content {
        padding-bottom: 30px;
    }

    .origins-modal__title {
        padding-right: 35px;
        font-size: 24px;
    }

    .origins-modal__text._italic {
        margin: 30px 0;
    }

    .origins-modal__text {
        font-size: 16px;
    }

    .origins-modal__slide .slide-text {
        padding: 20px;
        font-size: 12px;
    }

    .text-title {
        font-size: 24px;
    }

    .origins-modal__text {
        font-size: 30px 0;
    }

    .swiper-slider-controls .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .swiper-slider-controls {
        margin-top: 30px;
    }

    .fancybox__slide {
        padding: 20px;
    }

    .origins-modal__close {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
    }

    .vertical-video-slide.swiper-slide-active {
        .vertical-video-slide__image::after {
            opacity: 1;
        }

        .slide-num {
            color: #dc6f2d;
        }
    }

    .vertical-video-slide {
        width: 90%;
    }

    .vertical-video-slide__image {
        height: 115vw;
    }

    .show-more-link {
        font-size: 16px;
    }

    .vertical-video-slider {
        padding-top: 40px;
    }
}